.venv/
__pycache__/
.pytest_cache/
*.pyc
node_modules/
web/dist/
server/data/
.env
dist/
**/*.db
**/*.zip
**/*.mp4
**/*.pdf
**/*.png
*.tsbuildinfo
web/*.tsbuildinfo
.env.*
venv/
build/
*.db
*.zip
*.mp4
*.png
*.pdf
web/node_modules/
.DS_Store
Thumbs.db
